<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://riyu.xdf.cn/201111/963077.html">
<plist version="1.0">
<array>
    <string>ちゅうごくじん（中国人） 〔名〕 中国人</string>
    <string>にほんじん（日本人） 〔名〕 日本人</string>
    <string>かんこくじん（韓国人） 〔名〕 韩国人</string>
    <string>アメリカじん（～人） 〔名〕 美国人</string>
    <string>フランスじん（～人） 〔名〕 法国人</string>
    <string>がくせい（学生） 〔名〕 （大）学生</string>
    <string>せんせい（先生） 〔名〕 老师</string>
    <string>りゅうがくせい（留学生） 〔名〕 留学生</string>
    <string>きょうじゅ（教授） 〔名〕 教授</string>
    <string>しゃいん（社員） 〔名〕 职员</string>
    <string>かいしゃいん（会社員） 〔名〕 公司职员</string>
    <string>てんいん（店員） 〔名〕 店员</string>
    <string>けんしゅうせい（研修生） 〔名〕 进修生</string>
    <string>きぎょう（企業） 〔名〕 企业</string>
    <string>だいがく（大学） 〔名〕 大学</string>
    <string>ちち（父） 〔名〕 （我）父亲</string>
    <string>かちょう（課長） 〔名〕 科长</string>
    <string>しゃちょう（社長） 〔名〕 总经理，社长</string>
    <string>でむかえ（出迎え） 〔名〕 迎接</string>
    <string>あのひと（あの人） 〔名〕 那个人</string>
    <string>わたし 〔代〕 我</string>
    <string>あなた 〔代〕 你</string>
    <string>どうも 〔副〕 非常，很</string>
    <string>はい 〔叹〕 哎，是（应答）；是的</string>
    <string>いいえ 〔叹〕 不，不是</string>
    <string>あっ 〔叹〕 哎，哎呀</string>
    <string>り（李） 〔专〕 李</string>
    <string>おう（王） 〔专〕 王</string>
    <string>ちょう（張） 〔专〕 张</string>
    <string>もり（森） 〔专〕 森</string>
    <string>はやし（林） 〔专〕 林</string>
    <string>おの（小野） 〔专〕 小野</string>
    <string>よしだ（吉田） 〔专〕 吉田</string>
    <string>たなか（田中） 〔专〕 田中</string>
    <string>なかむら（中村） 〔专〕 中村</string>
    <string>たろう（太郎） 〔专〕 太郎</string>
    <string>キム（金） 〔专〕 金</string>
    <string>デュポン 〔专〕 迪蓬</string>
    <string>スミス 〔专〕 史密斯</string>
    <string>ジョンソン 〔专〕 约翰逊</string>
    <string>ちゅうごく（中国） 〔专〕 中国</string>
    <string>とうきょうだいがく（東京大学） 〔专〕 东京大学</string>
    <string>ペキンだいがく（北京大学） 〔专〕 北京大学</string>
    <string>ジェーシーきかく（ＪＣ企画） 〔专〕 JC策划公司</string>
    <string>ペキンりょこうしゃ（北京旅行社）〔专〕 北京旅行社</string>
    <string>にっちゅうしょうじ（日中商事） 〔专〕 日中商社</string>
    <string>こんにちは 你好</string>
    <string>すみません 对不起，请问</string>
    <string>どうぞ 请</string>
    <string>よろしくおねがいします（～お願いします）请多关照</string>
    <string>はじめまして 初次见面</string>
    <string>こちらこそ 我才要（请您～）</string>
    <string>そうてす 是（这样）</string>
    <string>ちがいます 不是</string>
    <string>わかりません（分かりません） 不知道</string>
    <string>どうもすみません 实在对不起</string>
    <string>～さん∕～ちゃん∕～君くん</string>
</array>
</plist>



