<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>ハイキング 〔名〕 郊游，远足</string>
    <string>おわかれ(お別れ) 〔名〕 分别，分手</string>
    <string>はなし(話) 〔名〕 说话</string>
    <string>みおくり(見送り) 〔名〕 送行，送别</string>
    <string>あいだ(間) 〔名〕 时间，期间</string>
    <string>ほうりつ(法律) 〔名〕 法律</string>
    <string>おもいます(思います) 〔动1〕 想，思考</string>
    <string>いいます(言います) 〔动1〕 说，讲</string>
    <string>さがします(探します) 〔动1〕 找，寻找，寻求</string>
    <string>わらいます(笑います) 〔动1〕 笑</string>
    <string>やめます 〔动2〕 戒，停止，放弃</string>
    <string>きめます(決めます) 〔动2〕 决定</string>
    <string>ねぼうします(寝坊～) 〔动3〕 睡懒觉</string>
    <string>がいしゅつします(外出～) 〔动3〕 外出，出去</string>
    <string>けんきゅうします(研究～) 〔动3〕 研究</string>
    <string>おかしい 〔形1〕 可笑，滑稽</string>
    <string>いっぱい 〔副〕 满</string>
    <string>すこい 〔副〕 惊人的，了不起</string>
    <string>とうとう 〔副〕 终于，终究，到底</string>
    <string>かならず(必ず) 〔副〕 一定，必定</string>
    <string>ぜったいに(絶対に) 〔副〕 绝对</string>
    <string>ば(馬) 〔专〕 马</string>
    <string>おせわになりました(お世話になりました)    承蒙照顾</string>
    <string>よろしくおつたえください(～お伝えください)    请代问好</string>
    <string>おげんきで(お元気で) 请多保重</string>
    <string>おきをつけて(お気をつけて) 小心点儿</string>
    <string>さようなら 再见</string>
    <string>どうやって 怎样，如何</string>
    <string>やくにたちます(役に立ちます) 有用</string>
    <string>おなかがいっぱいです 吃饱，饱</string>
    <string>～中ちゅう∕～について</string>
</array>
</plist>



