<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>ようふく(洋服) 〔名〕 西服</string>
    <string>セーター 〔名〕 毛衣</string>
    <string>ノートパソコン 〔名〕 笔记本电脑</string>
    <string>バイク 〔名〕 摩托车</string>
    <string>おしるこ(お汁粉) 〔名〕 年糕小豆汤</string>
    <string>てんぷら(天ぷら) 〔名〕 天麸罗</string>
    <string>はつもうで(初詣) 〔名〕 新年后首次参拜</string>
    <string>けんこう(健康) 〔名〕 健康</string>
    <string>れんあい(恋愛) 〔名〕 恋爱</string>
    <string>ドラマ 〔名〕 连续剧</string>
    <string>あいて(相手) 〔名〕 对象，对方</string>
    <string>こいびと(恋人) 〔名〕 恋人</string>
    <string>せんぱい(先輩) 〔名〕 前辈</string>
    <string>だんせい(男性) 〔名〕 男性</string>
    <string>がいこくじん(外国人) 〔名〕 外国人</string>
    <string>なつ(夏) 〔名〕 夏天</string>
    <string>ことし（今年） 〔名〕 今年</string>
    <string>はじめます(始めます) 〔动2〕 开始</string>
    <string>れんらくしあす(連絡～) 〔动3〕 联系</string>
    <string>ほしい(欲しい) 〔形1〕 想要</string>
    <string>りっぱ(立派) 〔形1〕 美观，杰出</string>
    <string>こんど(今度) 〔副〕 下次;这回</string>
    <string>ぜひ 〔副〕 一定</string>
    <string>そろそろ 〔副〕 快要</string>
    <string>まず 〔副〕 先，首先</string>
    <string>ベートーベン 〔专〕 贝多芬</string>
    <string>ショパン 〔专〕 肖邦</string>
    <string>こきゅう(故宮) 〔专〕 故宫</string>
    <string>ヨーロッパ 〔专〕 欧洲</string>
    <string>ホンコン(香港) 〔专〕 香港</string>
    <string>スイス 〔专〕 瑞士</string>
    <string>～中  じゅうに</string>
</array>
</plist>




