<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>ことば(言葉) 〔名〕 语言</string>
    <string>メールアドレス 〔名〕 邮件地址</string>
    <string>れんきゅう(連休) 〔名〕 连休</string>
    <string>ゴールデンウィーク 〔名〕 黄金周</string>
    <string>おわり(終わり) 〔名〕 结束</string>
    <string>きゅうけいじかん(休憩時間) 〔名〕 休息时间</string>
    <string>きょうげき(京劇) 〔名〕 京剧</string>
    <string>きっぷ(切符) 〔名〕 票(券)</string>
    <string>からだ(体) 〔名〕 身体</string>
    <string>じしん(地震) 〔名〕 地震</string>
    <string>どろぼう(泥棒) 〔名〕 小偷，盗贼</string>
    <string>ちゅうしゃじょう(駐車場) 〔名〕 停车场</string>
    <string>わたします(渡します) 〔动1〕 交给</string>
    <string>おくれます(遅れます) 〔动2〕 迟到</string>
    <string>かんがえます(考えます) 〔动2〕 考虑</string>
    <string>しらべます(調べます) 〔动2〕 调查</string>
    <string>きます(着ます) 〔动2〕 穿</string>
    <string>よやくします(予約～) 〔动3〕 预约</string>
    <string>かんしゃします(感謝～) 〔动3〕 感谢</string>
    <string>うんどうします(運動～) 〔动3〕 运动</string>
    <string>せんたくします(洗濯～) 〔动3〕 洗涤，洗</string>
    <string>ほうこくします(報告～) 〔动3〕 报告</string>
    <string>あぶない(危ない) 〔形1〕 危险</string>
    <string>これとも 〔连〕 还是，或者</string>
    <string>とうきょうタワー(東京～) 〔专〕 东京塔</string>
    <string>そんなに 那么</string>
    <string>～過ぎ</string>
</array>
</plist>

