<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>おと(音) 〔名〕 声音，响声</string>
    <string>こえ(声) 〔名〕 声音</string>
    <string>くうき(空気) 〔名〕 空气</string>
    <string>むすこ(息子) 〔名〕 儿子</string>
    <string>いしゃ(医者) 〔名〕 医生</string>
    <string>おじょうさん(お嬢さん) 〔名〕 令爱</string>
    <string>しゃかいじん(社会人) 〔名〕 社会的一员，成人</string>
    <string>りょこうガイド(旅行～) 〔名〕 旅行导游</string>
    <string>がくしゃ(学者) 〔名〕 学者</string>
    <string>パイロット 〔名〕 飞行员</string>
    <string>デザイナー 〔名〕 设计者，设计家</string>
    <string>タイムサービス 〔名〕 时段廉价销售</string>
    <string>しんしゅんセール(新春～) 〔名〕 新年大甩卖</string>
    <string>さんわりびき(3割引) 〔名〕 七折</string>
    <string>でいか(定価) 〔名〕 定价</string>
    <string>はんがく(半額) 〔名〕 半价</string>
    <string>ねだん(値段) 〔名〕 价格</string>
    <string>シャツ 〔名〕 衬衫</string>
    <string>スカート 〔名〕 裙子</string>
    <string>いろ(色) 〔名〕 颜色</string>
    <string>あか(赤) 〔名〕 红色</string>
    <string>あお(青) 〔名〕 蓝色</string>
    <string>おしょうがつ(お正月) 〔名〕 过年，新年</string>
    <string>じかん(時間) 〔名〕 时间</string>
    <string>しょうらい(将来) 〔名〕 将来</string>
    <string>じゅんび(準備) 〔名〕 准备</string>
    <string>びょうき(病気) 〔名〕 疾病</string>
    <string>なります 〔动1〕 变，当，变成，成为</string>
    <string>あきます(開きます) 〔动1〕 开</string>
    <string>にあいます(似合います) 〔动1〕 适合，相称</string>
    <string>うるさい 〔形1〕 闹，使人心烦</string>
    <string>シンプル 〔形2〕 单纯，简洁</string>
    <string>まもなく(間もなく) 〔副〕 马上，一会儿，不久</string>
    <string>もうすぐ 〔副〕 马上</string>
    <string>さらに∕もっと 〔副〕 更加，更</string>
    <string>さあ 〔叹〕 啊，喂</string>
    <string>でくるだけ 尽量，尽可能</string>
    <string>まとめて 一下子，一起，汇总，汇集</string>
    <string>いまから(今から) 从现在起</string>
</array>
</plist>

