<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>しゅうまつ(週末) 〔名〕 周末</string>
    <string>スケート 〔名〕 滑冰，溜冰</string>
    <string>あじ(味) 〔名〕 口味，(食物的)味道</string>
    <string>まいかい(毎回) 〔名〕 每次，每回</string>
    <string>つうきん(通勤) 〔名〕 上下班，通勤</string>
    <string>ふね(船) 〔名〕 船</string>
    <string>きじ(生地) 〔名〕 布料，衣料</string>
    <string>へいてんじこく(閉店時刻) 〔名〕 关门时间</string>
    <string>そつぎょうしき(卒業式) 〔名〕 毕业典礼</string>
    <string>ちがいます(違います) 〔动1〕 不同，不一样</string>
    <string>こみます(込みます) 〔动1〕 拥挤，混杂</string>
    <string>きまります(決まります) 〔动1〕 定，决定</string>
    <string>しらせます(知らせます) 〔动2〕 告诉</string>
    <string>たしかめます(確かめます) 〔动2〕查(看)，弄清</string>
    <string>こい(濃い) 〔形1〕 (口味)重;浓</string>
    <string>うすい(薄い) 〔形1〕 (口味)轻;薄</string>
    <string>はやい(早い) 〔形1〕 早</string>
    <string>おそい(遅い) 〔形1〕 晚，慢</string>
    <string>たぶん 〔副〕 可能，大概</string>
    <string>とうきょうえき(東京駅) 〔专〕 东京站</string>
    <string>～によって∕～によります</string>
</array>
</plist>

