<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>りょうり(料理) 〔名〕 菜肴，饭菜</string>
    <string>しせんりょうり(四川料理) 〔名〕 四川菜</string>
    <string>スーブ 〔名〕 汤</string>
    <string>ぺキンダック(北京～) 〔名〕 北京烤鸭</string>
    <string>たべもの(食べ物) 〔名〕 食物，食品</string>
    <string>すきやき(すき焼き) 〔名〕 日式牛肉火锅</string>
    <string>おんせん(温泉) 〔名〕 温泉</string>
    <string>おゆ(お湯) 〔名〕 热水，开水</string>
    <string>みず(水) 〔名〕 水，凉水</string>
    <string>ゆかた(浴衣) 〔名〕 浴衣，夏季和服</string>
    <string>ながめ(眺め) 〔名〕 景色，风景</string>
    <string>くすり(薬) 〔名〕 药</string>
    <string>てんき(天気) 〔名〕 天气</string>
    <string>うみ(海) 〔名〕 大海</string>
    <string>やま(山) 〔名〕 山</string>
    <string>かみ(紙) 〔名〕 纸</string>
    <string>ニュース 〔名〕 新闻</string>
    <string>じょせい(女性) 〔名〕 女性</string>
    <string>おきゃくさま(お客様) 〔名〕 来宾</string>
    <string>グラス 〔名〕 玻璃杯</string>
    <string>かぶき(歌舞伎) 〔名〕 歌舞伎</string>
    <string>きもち(気持ち) 〔名〕 心情</string>
    <string>たくさん 〔名〕 很多</string>
    <string>からい(辛い) 〔形1〕 辣</string>
    <string>あまい(甘い) 〔形1〕 甜</string>
    <string>しおからい(塩辛い)∕しょっぱい 〔形1〕 咸</string>
    <string>すっぱい(酸っぱい) 〔形1〕 酸</string>
    <string>にがい(苦い) 〔形1〕 苦</string>
    <string>おいしい 〔形1〕 好吃，可口</string>
    <string>まずい 〔形1〕 不好吃，难吃</string>
    <string>あつい 〔形1〕 热，烫</string>
    <string>つめたい(冷たい) 〔形1〕 凉</string>
    <string>たのしい(楽しい) 〔形1〕 愉快，快乐</string>
    <string>おもしろい 〔形1〕 有趣，有意思</string>
    <string>つまらない 〔形1〕 无聊</string>
    <string>ひろい(広い) 〔形1〕 广阔，宽敞</string>
    <string>せまい(狭い) 〔形1〕 狭窄</string>
    <string>おおきい(大きい) 〔形1〕 大</string>
    <string>ちいさい(小さい) 〔形1〕 小</string>
    <string>いそがしい(忙しい) 〔形1〕 忙，忙碌</string>
    <string>いい 〔形1〕 好</string>
    <string>わるい(悪い) 〔形1〕 不好，坏</string>
    <string>すばらしい 〔形1〕 极好，绝佳</string>
    <string>とおい(遠い) 〔形1〕 远</string>
    <string>ちかい(近い) 〔形1〕 近</string>
    <string>たかい(高い) 〔形1〕 高，贵</string>
    <string>ひくい(低い) 〔形1〕 低</string>
    <string>やすい(安い) 〔形1〕 便宜</string>
    <string>さむい(寒い) 〔形1〕 寒冷</string>
    <string>あつい(暑い) 〔形1〕 (天气)热</string>
    <string>あおい(青い) 〔形1〕 蓝色的</string>
    <string>しろい(白い) 〔形1〕 白色的</string>
    <string>あたらしい(新しい) 〔形1〕 新</string>
    <string>ふるい(古い) 〔形1〕 旧</string>
    <string>むずかしい(難しい) 〔形1〕 难</string>
    <string>やさしい(易しい) 〔形1〕 容易</string>
    <string>おおい(多い) 〔形1〕 多</string>
    <string>すくない(少ない) 〔形1〕 少</string>
    <string>かわいい 〔形1〕 可爱</string>
    <string>ほんとうに(本当に) 〔副〕 真的，实在是</string>
    <string>あまり 〔副〕 不(太)～，不很～</string>
    <string>とても∕たいへん 〔副〕 很，非常</string>
    <string>すこし(少し)∕ちょっと 〔副〕 一点儿</string>
    <string>ぜんぜん(全然) 〔副〕 根本(不)，全然(不)</string>
    <string>ちょうど 〔副〕 正好，恰好</string>
    <string>あら∕あれ 〔叹〕 哎呀，咦</string>
    <string>ああ 〔叹〕 啊</string>
    <string>てんあんもん(天安門) 〔专〕 天安门</string>
    <string>ばんりのちょうじょう(万里の長城) 〔专〕 万里长城</string>
    <string>きもちがいい(気持ちがいい) 感觉舒服，心情愉快</string>
    <string>～用</string>
</array>
</plist>
