<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>らいげつ(来月) 〔名〕 下个月</string>
    <string>せんげつ(先月) 〔名〕 上个月</string>
    <string>よなか(夜中) 〔名〕 午夜，半夜</string>
    <string>ゆうべ 〔名〕 昨天晚上</string>
    <string>コンサート 〔名〕 音乐会</string>
    <string>クリスマス 〔名〕 圣诞节</string>
    <string>たんじょうび(誕生日) 〔名〕 生日</string>
    <string>こどものひ(こどもの日) 〔名〕 儿童节</string>
    <string>なつやすみ(夏休み) 〔名〕 暑假</string>
    <string>こうつうきかん(交通機関) 〔名〕 交通工具</string>
    <string>しんかんせん(新幹線) 〔名〕 新干线</string>
    <string>ひこうき(飛行機) 〔名〕 飞机</string>
    <string>フェリー 〔名〕 渡轮</string>
    <string>でんしゃ(電車) 〔名〕 电车</string>
    <string>バス 〔名〕 公共汽车</string>
    <string>タクシー 〔名〕 出租车</string>
    <string>びじゅつかん(美術館) 〔名〕 美术馆</string>
    <string>アパート 〔名〕 公寓</string>
    <string>うち 〔名〕 家</string>
    <string>プール 〔名〕 游泳池</string>
    <string>ともだち(友達) 〔名〕 朋友</string>
    <string>おとうと(弟) 〔名〕 弟弟</string>
    <string>いきます(行きます) 〔动1〕 去</string>
    <string>かえります(帰ります) 〔动1〕 回来，回去</string>
    <string>きます(来ます) 〔动3〕 来</string>
    <string>たしか 〔副〕 好像是，大概;的确</string>
    <string>まっすぐ 〔副〕 径直，笔直</string>
    <string>いっしょに 〔副〕 一起</string>
    <string>さとう(佐藤) 〔专〕 佐藤</string>
    <string>ペキン(北京) 〔专〕 北京</string>
    <string>アメリカ 〔专〕 美国</string>
    <string>かんこく(韓国) 〔专〕 韩国</string>
    <string>フランス 〔专〕 法国</string>
    <string>ひろしま(広島) 〔专〕 广岛</string>
    <string>きょうと(京都) 〔专〕 京都</string>
    <string>ほっかいどう(北海道) 〔专〕 北海道</string>
    <string>はこね(箱根) 〔专〕 箱根</string>
    <string>ぎんざ(銀座) 〔专〕 银座</string>
    <string>しぶや(渋谷) 〔专〕 涩谷</string>
    <string>しんじゅく(新宿) 〔专〕 新宿</string>
    <string>おつかれさまでした(お疲れ様でした) 够累的</string>
    <string>おさきにしつれいします(お先に失礼します)   我先走了，我先告辞了</string>
    <string>あるいて(歩いて) 步行</string>
    <string>たいへんですね(大変ですね)      真不容易，够受的，不得了</string>
</array>
</plist>

