<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>もみじ(紅葉) 〔名〕 红叶</string>
    <string>こきょう(故郷) 〔名〕 故乡</string>
    <string>とおり(通り) 〔名〕 大街</string>
    <string>まち(町) 〔名〕 城市，街道</string>
    <string>ところ(所) 〔名〕 场所</string>
    <string>おみせ(お店) 〔名〕 餐馆;商店</string>
    <string>にんぎょう(人形) 〔名〕 玩偶</string>
    <string>さくひん(作品) 〔名〕 作品</string>
    <string>ちょうこく(彫刻) 〔名〕 雕刻</string>
    <string>じどうしゃ(自動車) 〔名〕 汽车</string>
    <string>どうぐ(道具) 〔名〕 工具</string>
    <string>さかな(魚) 〔名〕 鱼</string>
    <string>おかし(お菓子) 〔名〕 点心</string>
    <string>もの(物) 〔名〕 物品，东西</string>
    <string>シーズン 〔名〕 季节</string>
    <string>しゅうがくりょこう(修学旅行) 〔名〕 修学旅行</string>
    <string>かんこうきゃく(観光客) 〔名〕 游客</string>
    <string>さっか(作家) 〔名〕 作家</string>
    <string>ぶちょう(部長) 〔名〕 部长</string>
    <string>へいじつ(平日) 〔名〕 平日，非休息日</string>
    <string>ひ(日) 〔名〕 日子</string>
    <string>せいかつ(生活) 〔名〕 生活</string>
    <string>せかい(世界) 〔名〕 世界</string>
    <string>はれ(晴れ) 〔名〕 晴天</string>
    <string>あめ(雨) 〔名〕 雨，下雨</string>
    <string>くもり(曇り) 〔名〕 阴天</string>
    <string>ゆき(雪) 〔名〕 雪</string>
    <string>きたない(汚い) 〔形1〕 脏</string>
    <string>きれい 〔形2〕 漂亮，干净</string>
    <string>ゆうめい(有名) 〔形1〕 有名</string>
    <string>にぎやか 〔形2〕 热闹，繁华</string>
    <string>しずか(静か) 〔形2〕 安静</string>
    <string>ひま(暇) 〔形2〕 空闲</string>
    <string>しんせつ(親切) 〔形2〕 热情</string>
    <string>すき(好き) 〔形2〕 喜欢</string>
    <string>きらい(嫌い) 〔形2〕 讨厌</string>
    <string>べんり(便利) 〔形2〕 方便</string>
    <string>ふべん(不便) 〔形2〕 不方便</string>
    <string>げんき(元気) 〔形2〕 健康，有精神</string>
    <string>かんたん(簡単) 〔形2〕 简单</string>
    <string>ハンサム 〔形2〕 英俊，帅气</string>
    <string>どんな 〔疑〕 什么样的，怎样的</string>
    <string>どう 〔副〕 怎样，如何</string>
    <string>いかが 〔副〕 如何</string>
    <string>いろいろ 〔副〕 各种各样</string>
    <string>でも 〔连〕 可是，不过</string>
    <string>そして 〔连〕 而且，于是</string>
    <string>ところで 〔连〕 (转换话题) 哎</string>
    <string>あれえ 〔叹〕 咦</string>
    <string>なら(奈良) 〔专〕 奈良</string>
    <string>ふじさん(富士山) 〔专〕 富士山</string>
    <string>もうすこし(もう少し) 再～一点</string>
    <string>～中じゅう</string>
</array>
</plist>

