<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>きせつ(季節) 〔名〕 季节</string>
    <string>ふゆ(冬) 〔名〕 冬天，冬季</string>
    <string>はる(春) 〔名〕 春天，春季</string>
    <string>にほんりょうり(日本料理) 〔名〕 日式饭菜</string>
    <string>すし(寿司) 〔名〕 寿司</string>
    <string>ナシ 〔名〕 梨</string>
    <string>バナナ 〔名〕 香蕉</string>
    <string>ミカン 〔名〕 橘子</string>
    <string>しょうちゅう(焼酎) 〔名〕 烧酒</string>
    <string>にほんしゅ(日本酒) 〔名〕 日本酒</string>
    <string>こうちゃ(紅茶) 〔名〕 红茶</string>
    <string>ウーロンちゃ(～茶) 〔名〕 乌龙茶</string>
    <string>ジャスミンちゃ(～茶) 〔名〕 茉莉花茶</string>
    <string>りょくちゃ(緑茶) 〔名〕 绿茶</string>
    <string>ジュース 〔名〕 果汁</string>
    <string>にんき(人気) 〔名〕 声望，受欢迎</string>
    <string>せき(席) 〔名〕 座位，席位</string>
    <string>クラス 〔名〕 班级</string>
    <string>しゅるい(種類) 〔名〕 种类</string>
    <string>せ(背) 〔名〕 个子</string>
    <string>あに(兄) 〔名〕 哥哥，兄长</string>
    <string>さいきん(最近) 〔名〕 最近，近来</string>
    <string>ふります(降ります) 〔动1〕   下(雨，雪)，降(雨，雪)</string>
    <string>わかい(若い) 〔形1〕 年轻</string>
    <string>あたたかい(暖かい) 〔形1〕 暖和，温暖</string>
    <string>すずしい(涼しい) 〔形1〕 凉爽</string>
    <string>はやい(速い) 〔形1〕 快</string>
    <string>だいすき(大好き) 〔形2〕 非常喜欢</string>
    <string>いちばん 〔副〕 最，第一</string>
    <string>ずっと 〔副〕 ～得多</string>
    <string>やはり∕やっぱり 〔副〕 仍然，还是</string>
    <string>エベレスト 〔专〕 珠穆朗玛峰</string>
    <string>にんきがあります(人気があります) 受欢迎</string>
    <string>～年間  ねんかん</string>
</array>
</plist>
