<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>スキーじょう(～場) 〔名〕 滑雪场</string>
	<string>そうべつかい(送別会) 〔名〕 欢送会</string>
	<string>つごう(都合) 〔名〕 方便;情况</string>
	<string>よてい(予定) 〔名〕 预约</string>
	<string>おもちゃ 〔名〕 玩具</string>
	<string>かじ(火事) 〔名〕 火灾</string>
	<string>きかん(期間) 〔名〕 时间，期间</string>
	<string>てんきん(転勤) 〔名〕 调动工作</string>
	<string>けいたい(携帯) 〔名〕 手机</string>
	<string>バドミントン 〔名〕 羽毛球</string>
	<string>ラケット 〔名〕 球拍</string>
	<string>おくさん(奥さん) 〔名〕 夫人，(别人的)爱人</string>
	<string>かしゅ(歌手) 〔名〕 歌手</string>
	<string>だいとうりょう(大統領) 〔名〕 总统</string>
	<string>やります 〔动1〕 做</string>
	<string>うれしい 〔形1〕 高兴</string>
	<string>ねむい(眠い) 〔形1〕 困倦</string>
	<string>おもい(重い) 〔形1〕 重，沉重</string>
	<string>きゅう(急) 〔形2〕 突然;紧急</string>
	<string>まあまあ 〔副〕 大致，还算</string>
    <string>あんまり 〔副〕 太，非常，过于</string>
	<string>ごめん 〔叹〕 抱歉，请原谅</string>
	<string>ううん∕いや 〔叹〕 不</string>
	<string>うん 〔叹〕 嗯</string>
	<string>しみず(清水) 〔专〕 清水</string>
	<string>おおた(太田) 〔专〕 太田</string>
	<string>モーツァルト 〔专〕 莫扎特</string>
	<string>ディズニーランド 〔专〕 迪斯尼乐园</string>
	<string>～いがい(以外)∕～かた(方)</string>
</array>
</plist>
