<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>ほん(本) 〔名〕 书</string>
    <string>かばん 〔名〕 包，公文包</string>
    <string>ノート 〔名〕 笔记本，本子</string>
    <string>えんぴつ(鉛筆) 〔名〕 铅笔</string>
    <string>かさ(傘) 〔名〕伞</string>
    <string>くつ(靴) 〔名〕鞋</string>
    <string>しんぶん(新聞) 〔名〕 报纸</string>
    <string>ざっし(雑誌) 〔名〕 杂志</string>
    <string>じしょ(辞書) 〔名〕 词典</string>
    <string>カメラ 〔名〕 照相机</string>
    <string>テレビ 〔名〕 电视机</string>
    <string>パソコン 〔名〕 个人电脑</string>
    <string>ラジオ 〔名〕 收音机</string>
    <string>でんわ(電話) 〔名〕 电话</string>
    <string>つくえ(机) 〔名〕 桌子，书桌</string>
    <string>いす 〔名〕 椅子</string>
    <string>かぎ 〔名〕 钥匙，锁</string>
    <string>とけい(時計) 〔名〕 钟，表</string>
    <string>てちょう(手帳) 〔名〕 记事本</string>
    <string>しゃしん(写真) 〔名〕 照片</string>
    <string>くるま(車) 〔名〕 车</string>
    <string>じてんしゃ(自転車) 〔名〕 自行车</string>
    <string>おみやげ(お土産) 〔名〕 礼物</string>
    <string>めいさんひん(名産品) 〔名〕 特产，名产</string>
    <string>シルク 〔名〕 丝绸</string>
    <string>ハンカチ 〔名〕 手绢</string>
    <string>かいしゃ(会社) 〔名〕 公司</string>
    <string>かた(方) 〔名〕 (敬称)位，人</string>
    <string>ひと(人) 〔名〕 人</string>
    <string>かぞく(家族) 〔名〕 家人，家属</string>
    <string>はは(母) 〔名〕 (我)母亲</string>
    <string>おかあさん(お母さん) 〔名〕 母亲</string>
    <string>にほんご(日本語) 〔名〕 日语</string>
    <string>ちゅうごくご(中国語) 〔名〕 汉语，中文</string>
    <string>これ 〔代〕 这，这个</string>
    <string>それ 〔代〕 那，那个</string>
    <string>あれ 〔代〕 那，那个</string>
    <string>どれ 〔疑〕 哪个</string>
    <string>なん(何) 〔疑〕 什么</string>
    <string>だれ 〔疑〕 谁</string>
    <string>どなた 〔疑〕 哪位</string>
    <string>この 〔连体〕 这，这个</string>
    <string>その 〔连体〕 那，那个</string>
    <string>あの 〔连体〕 那，那个</string>
    <string>どの 〔连体〕 哪个</string>
    <string>えっ 〔叹〕 啊</string>
    <string>わあ 〔叹〕 哇</string>
    <string>ええ 〔叹〕 (应答)嗯，是</string>
    <string>ながしま(長島) 〔专〕 长岛</string>
    <string>にほん(日本) 〔专〕 日本</string>
    <string>スワトウ 〔专〕 汕头</string>
    <string>ロンドン 〔专〕 伦敦</string>
    <string>ありがとうございます 谢谢</string>
    <string>おいくつ 多大</string>
    <string>何なん～∕～歳さい</string>
</array>
</plist>

